[Unit]
Description=Car Autorun Script
ConditionPathExists=|/home/debian/car-server/

[Service]
WorkingDirectory=/home/debian/car-server
ExecStart=/bin/bash start-server.sh
SyslogIdentifier=node

[Install]
WantedBy=multi-user.target